:root {
  --body-padding: 24px;
}
body {
  background: #ffffff;
  max-width: 1000px;
  margin: auto;
  padding: var(--body-padding);
  padding-bottom: 0;
}

/* tablet and above */
@media (min-width: 768px) {
  body {
    padding: 48px;
    padding-bottom: 0;
  }
}

.phone-shadow {
  border-radius: 4vw;
  overflow: hidden;
  box-shadow: 0px 0px 15px #0000004a;
  width: 37vw;
  max-width: 270px;
  flex-shrink: 0;
}

.image-and-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
  gap: 1.2em;
}

.visualsystem img {
  border-radius: 4vw;
  box-shadow: 0px 0px 15px #0000004a;
}

footer {
  position: absolute;
  left: 0;
  transform: translateY(8px);
  background-color: black;
  width: 100vw;
  height: auto;
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 0.7em 1em;
}
.body-wrapper {
  padding-bottom: 72px;
}

.copyrighttext {
  flex-grow: 1;
  text-align: right;
  display: inline;
  margin-right: 17px;
  color: white;
  margin-top: 5px;
}
.icon {
  color: white;
}
.icon:hover {
  color: #0fabcd;
}
.icon i {
  font-size: 21px;
}
* {
  font-family: system-ui;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: rgb(59, 59, 59);
}
h2 {
  margin-top: 1em;
  font-size: 48px;
  margin-bottom: 24px;
}
.spacer {
  height: 82px;
}
ol {
  margin: 1em 0;
  transform: translateX(24px);
  width: calc(100% - 24px);
}
li {
  line-height: 1.4em;
  margin-bottom: 0.6em;
}
/*
.problem-section.centered:before {
  position: absolute;
  content: "";
  z-index: -1;
  left: calc(-1 * var(--body-padding));
  right: calc(-1 * var(--body-padding));
  top: 0;
  bottom: 0;
  background: #fbfbfb; 
  width: 100%;
}
*/
nav > i.fa-bars {
  display: none;
  position: absolute;
  right: 6px;
  top: 6px;
}
.hamburger-menu-content {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  color: black;
  z-index: 1;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  pointer-events: none;
}

.hamburger-menu-content.visible {
  /* display: flex; */
  opacity: 1;

  pointer-events: all;
}
a.nav-item {
  color: black;
}
a {
  text-decoration: none;
}
a.hamburger-menu-nav-item {
  color: #000000;
}

/* when the hamburger menu is not visible, the menu items are offset a little bit from their positions */
.hamburger-menu-nav-item {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out; /* animate the values if they change */
}
/* when the hamburger menu is visible, the menu-items move back from their initial offset positions */
.hamburger-menu-content.visible .hamburger-menu-nav-item {
  transform: translateX(0px);
  opacity: 1;
}
/* on mouseover, transform a little bit */
.hamburger-menu-content.visible .hamburger-menu-nav-item:active {
  transform: scale(1.05) rotate(2deg);
  transition-delay: 0s !important;
}

/* we can also add some transition delays so they animate in a sequence: */

/* the first menu-item gets 0.2s delay */
.hamburger-menu-content.visible .hamburger-menu-nav-item:nth-child(1) {
  transition-delay: 0.2s;
}
/* second menu-item gets 0.3s delay */
.hamburger-menu-content.visible .hamburger-menu-nav-item:nth-child(2) {
  transition-delay: 0.3s;
}
/* third menu-item gets 0.4s delay */
.hamburger-menu-content.visible .hamburger-menu-nav-item:nth-child(3) {
  transition-delay: 0.4s;
}
/* fourth menu-item gets 0.5s delay */
.hamburger-menu-content.visible .hamburger-menu-nav-item:nth-child(4) {
  transition-delay: 0.5s;
}

.btn-hamburger-menu {
  font-size: 24px;
}

.fa-linkedin {
  margin-left: 21px;
}

.logo {
  width: 98px;
  height: 33px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}
.logo img {
  width: 53px;
  height: 100%;
  margin-right: 90%;
}
nav.nav-bar {
  display: flex;
  gap: 1.5em;
  align-items: center;
  padding: 0.5em 0em;
  max-width: 960px;
  width: 100%;
  margin: auto;
}
/* OVERRIDES - only the DIFFERENCES - just enough to make it responsive */

/* mobile width and below */
@media screen and (max-width: 768px) {
  nav > i.fa-bars {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
  }
  .logo img {
    margin-right: 0;
    margin-top: 0.5em;
  }
  h1.name {
    margin-top: 1em;
    padding: 0 0.5em;
  }
}

@media (min-width: 768px) {
  .problem-section.centered:before {
    left: -1000px;
    right: -1000px;
  }
}
/* MOOOOOBILE styles */
/* only applies for devices width 480px or smaller */
@media (max-width: 480px) {
  .copyrighttext,
  span.year {
    font-size: 12px;
  }
  .flex-row {
    flex-wrap: wrap;
    gap: 1em;
  }
}

/* media query: "Conditional CSS" - sometimes it's on, sometimes off */
/* it depends on the device width */

/* @media (min-width: 500px) { // write some CSS here } */
/* "only apply this CSS if... the screen is minimum 500px or larger" */

/* footer "border-top" pseudo-element */
/* footer:after {
  content: "";
  position: absolute;
  border: black;
  height: 100%;
  width: 100%;
} */
