:root {
  --hero-font-size: 48px;
  --heading-font-size: 24px;
  --text-font-size: 16px;
}
* {
  font-family: system-ui;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--text-font-size);
}
button {
  border: none;
}

h1.name {
  text-align: center;
  font-size: var(--hero-font-size);
}
button,
h2,
h2 span.typing-effect,
h5 {
  font-size: var(--heading-font-size);
}
h2.intro {
  color: black;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
img.cover-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  bottom: 32px;
}

.me {
  width: 150px;
  height: 167px;
  display: flex;
  align-self: center;
}
.case-study {
  transition: all 0.3s ease-in-out;
  width: 100%;

  height: 540px;
  padding: 20px;
  border-radius: 4px;
  margin-top: 18px;
}
.bg-one {
  background-color: #ffcccb;
}
.bg-two {
  background-color: #3cb371;
}
.bg-three {
  background-color: #c5b4e3;
}
.bg-one:hover {
  color: white;
}
.bg-one .ai {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 48px;
}
.bg-two .upowallet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-one:hover {
  background-color: #f82e4b;
  transform: scale(1.04);
}
.bg-two:hover {
  background-color: #009317;
  transform: scale(1.04);
}
.bg-three:hover {
  background: #8c20bf;
  transform: scale(1.04);
}

.bg-three .muna {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 12px;
  top: 15px;
}

.btn-case-studies {
  font-weight: normal;
  background: #000000;
  color: #ffffff;
  padding: 1em 1.4em;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.case-studies {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 960px;
}
main.content {
  flex-grow: 1;
}

h5 {
  color: #000000;
  font-weight: 400;
  margin-bottom: 0.5em;
}
/* this targets the h5 on hover */
/* target the h5 when you hover on .bg-one */
.case-study:hover .words > * {
  color: #ffffff;
}

p.info {
  color: #000000;
  margin-top: 1em;
}

p.info:hover {
  color: white;
}
.words h6 {
  margin-bottom: 0.5em;
}
h6 {
  color: #272727;
  font-weight: 300;
}

.img-one,
.img-two,
.img-three,
.img-four,
.img-five,
.img-six {
  width: 100%;
}

/* desktop width and above */
@media (min-width: 1024px) {
  .case-study {
  }
}

/* this CSS applies ABOVE 580 px */
@media (min-width: 580px) {
  .case-study {
    padding: 2em;
  }
}
