:root {
  --hero-background: #3cb371;
}
body {
}
.image-one {
  background-color: var(--hero-background);
  width: 61vw;
  display: block;
  margin: 3em auto;
  border-radius: 8px;
  font-size: 15px;
}
.brief {
  font-weight: normal;
  word-spacing: 4px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  color: grey;
  text-indent: 13px;
  line-height: 1.5em;
}
.tracklist {
  display: flex;
  gap: 161px;
  justify-content: center;
  margin-top: 56px;
}

.problem {
  position: relative;
  top: 11px;
}

.app {
  margin-top: 15px;
}

.main-title {
  margin-top: 15px;
}

h4 {
  list-style-type: none;
}

.role {
  list-style-type: none;
}

.view-one {
  display: flex;
  justify-content: flex-end;
}

.tools {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.hamburger-menu-content {
  display: flex;
  gap: 1.5em;
  padding: 0.5em 0em;
  justify-content: flex-end;
}

a.hamburger-menu-nav-item {
  text-decoration: none;
  color: black;
}

div.phone-shadow {
  border-radius: 0;
}
.image-and-text.right {
  flex-direction: row-reverse;
}
img {
  margin-bottom: 36px !important;
  width: 100% !important;

  max-width: 900px;
}

.persona-one,
.brain-img img,
.insights img,
.container img {
  width: 60% !important;
}

.image-and-text img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.brain-img {
  text-align: center;
  margin-top: 40px;
}
.userflow {
  text-align: center;
}
.userflow h2,
.userflow p {
  text-align: left;
  margin-bottom: 40px;
}
.info-section {
  max-width: 360px;
}
h3 {
  margin-bottom: 0.5em;
  font-size: 36px;
  position: relative;
  /* padding-left: 20px;*/
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 5em;
}
.flex-row li {
  line-height: 1.5em;
}
.flex-row h4 {
  margin-bottom: 0.5em;
}
.problem-section h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.problem-section {
  margin: 1em 0 2em 0;
}

p {
  font-size: 18px;
  line-height: 2em;
  color: rgb(97, 97, 97);
}
.problem-section.centered p {
  text-align: center;
  margin: auto;
  max-width: 600px;
}
.problem-section.centered {
  width: 100%;
  position: relative;
  padding: 10px 0 30px 0;
  /* background: #fbfbfb; */
}

.btn-view {
  background: var(--hero-background);
  border: none;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 1px 1px 14px var(--hero-background);
  font-weight: bold;
  color: white;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 0.5em;
}
.btn-view:hover {
  transform: scale(1.05);
}

ol {
  line-height: 2em;
  font-weight: bold;
  font-size: 22px;
}

.insights {
  margin-top: 2em;
}
p.box-one {
  background: #f82e4b;
  border-radius: 8px;
  line-height: 2em;
}

.group-3 {
  display: flex;
  margin: auto;
  width: 29em;
  margin-top: 2em;
}
.images-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin-top: 36px;
  margin-bottom: 72px;
}
.images-grid img {
  width: 45% !important;
  border-radius: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h4.inter {
  font-size: 2em;
}

.oldhome {
  width: 25em;
}

.x {
  width: 4em;
  /*position: relative;
  bottom: 8em;*/
}
.check,
.x {
  width: 10% !important;
}
.xinfo {
  font-size: 17px;
  position: relative;
  top: 12em;
}
.xclone {
  display: flex;
  gap: 31px;
}

.newhome {
  width: 25em;
}
.checkmark {
  width: 4em;
  position: relative;
  bottom: 0em;
}

.checkclone {
  display: flex;
  gap: 31px;
}

.checkinfo {
  position: relative;
  top: 115px;
}

.subinfo {
  text-align: center;
  color: black;
  font-size: 32px;
}

.bold {
  font-weight: bold;
}

.persona-one {
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 32px;
  height: 450px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.iterations-brief {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 2em;
  line-height: 2em;
}

.check {
  width: 5em;
}

h3.iterations-brief {
  font-size: 1em;
}
/*
.x {
  position: relative;
  right: 1.5em;
}
*/
/* TODO: */
/* 1. flex-wrap: wrap; on any elements you want to wrap around */
/* 2. copy the image-and-text html so the images below get the same horizontal side-by-side styles */
/* 3. space above some of the images */
/* 4. width: 100% on the small images & increase the gap */
